# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: devicemanager
description: Home Device Manager

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Adds support for iOS icons
  cupertino_icons: 0.1.3
  # Firebase dependencies
  cloud_firestore: ^0.13.5
  firebase_auth: ^0.16.0
  google_sign_in: ^4.4.4
  # Device scanner dependencies
  camera: ^0.5.7+4
  firebase_ml_vision: ^0.9.3+8


dev_dependencies:
  flutter_test:
    sdk: flutter

module:
    androidX: true // for migrating for androidx


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

